In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [11]:
raw_data = pd.read_csv("covid19.csv")
c_data = raw_data

C:\Users\dpale\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,2,9,10,12,13,14,15,16,17,19,21,22,23,24,25,26,27,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
# Nice to have columns on hand
c_data.columns

Index(['ID', 'age', 'sex', 'city', 'province', 'country', 'latitude',
       'longitude', 'geo_resolution', 'date_onset_symptoms',
       'date_admission_hospital', 'date_confirmation', 'symptoms',
       'lives_in_Wuhan', 'travel_history_dates', 'travel_history_location',
       'reported_market_exposure', 'additional_information',
       'chronic_disease_binary', 'chronic_disease', 'source',
       'sequence_available', 'outcome', 'date_death_or_discharge',
       'notes_for_discussion', 'location', 'admin3', 'admin2', 'admin1',
       'country_new', 'admin_id', 'data_moderator_initials',
       'travel_history_binary', 'hospitalized', 'deceased'],
      dtype='object')

In [27]:
# Cleaning and extracting information from the "outcome" column.
# "Outcome" is a very good place to begin extracting insights.
# Lots of case outcomes to look at.
raw_data["outcome"].value_counts()

Hospitalized                                                                202475
Recovered                                                                    93656
Deceased                                                                      5011
Under treatment                                                                370
Receiving Treatment                                                            257
Alive                                                                          189
discharge                                                                      175
stable                                                                         156
died                                                                           153
stable condition                                                               130
https://www.mspbs.gov.py/covid-19.php                                          126
discharged                                                                     117
recovered                                                                       60
death                                                                           48
Stable                                                                          31
Dead                                                                            13
Migrated_Other                                                                   8
Migrated                                                                         5
Died                                                                             4
Death                                                                            4
released from quarantine                                                         4
Discharged from hospital                                                         4
dead                                                                             3
Discharged                                                                       2
severe                                                                           2
recovering at home 03.03.2020                                                    2
critical condition, intubated as of 14.02.2020                                   2
Symptoms only improved with cough. Currently hospitalized for follow-up.         2
treated in an intensive care unit (14.02.2020)                                   2
not hospitalized                                                                 2
severe illness                                                                   1
critical condition                                                               1
unstable                                                                         1
Critical condition                                                               1
Name: outcome, dtype: int64

In [28]:
# These functions extract keywords from the "outcome" column.
# "Outcome" gives us information we can categorize into two features:
# "deaths" and "hospitalizations".

# Look for hospital-related keywords.
# This function just wraps the stringChecker function
# and passes it a hardcoded list

#might be better to do this with regular expressions
def hospitalization(s):
    
    # Filter this value out...
    if s == "not hospitalized":
        return 0
    
    # A regular expression may be more 
    # algorithmically efficient
    hospitalStrings = [ 
       "hospital", 
       "intensive", 
       "released",
       "care", 
       "discharged",
       "intubated", 
       "migrated",
       "stable"
       "death",
       "deceased",
       "died",
   ]
    return stringChecker(s, hospitalStrings)

# Issue: we are assuming a death is a hospitalization
# Verify it is sound by checking the statistics of 
# only deaths with hospitalization dates

In [29]:
# Same as above function but for deaths.
def death(s):
    deathStrings = [
        "deceased",
        "died",
        "death",
        "dead"
    ]
    return stringChecker(s, deathStrings)

In [30]:
# Check if s contains a string in the argument list
def stringChecker(s, l):
    s = str(s).lower()
    for word in l:
      if s.find(word) != -1:
        return 1         
    return 0

In [31]:
# Create a new column for hospitalizations
# Use our above function to extract out booleans.
c_data["hospitalized"] = c_data["outcome"].apply(hospitalization)
c_data["hospitalized"].value_counts()

0    2102322
1     207789
Name: hospitalized, dtype: int64

In [32]:
# Same as above for deceased. Extract all deaths.
c_data["deceased"] = c_data["outcome"].apply(death)
c_data["deceased"].value_counts()

0    2304875
1       5236
Name: deceased, dtype: int64

In [33]:
# Cleaning up dates:
# Clean up date values
# remove hyphens, return just the first date
def cleanDate(s):
    s = str(s)
    split = s.split("-")
    return split[0].strip()

In [34]:
# Apply the above function to our three date columns.
# Thankfully our dates are already formatted nicely.
c_data["date_admission_hospital"] = c_data["date_admission_hospital"].apply(cleanDate)
c_data["date_onset_symptoms"] = c_data["date_onset_symptoms"].apply(cleanDate)
c_data["date_confirmation"] = c_data["date_confirmation"].apply(cleanDate)

In [35]:
# Visually inspect date values:
c_data["date_admission_hospital"].unique(), c_data["date_onset_symptoms"].unique(), c_data["date_confirmation"].unique()

(array(['nan', '04.02.2020', '30.01.2020', '14.02.2020', '17.02.2020',
        '13.02.2020', '10.02.2020', '12.02.2020', '15.02.2020',
        '08.02.2020', '05.02.2020', '07.02.2020', '09.02.2020',
        '26.01.2020', '26.02.2020', '03.02.2020', '28.01.2020',
        '06.02.2020', '11.02.2020', '16.02.2020', '19.02.2020',
        '22.01.2020', '18.01.2020', '23.01.2020', '20.02.2020',
        '18.02.2020', '21.02.2020', '24.01.2020', '22.02.2020',
        '29.01.2020', '27.01.2020', '23.02.2020', '24.02.2020',
        '25.02.2020', '25.01.2020', '27.02.2020', '08.01.2020',
        '15.01.2020', '17.01.2020', '28.02.2020', '20.01.2020',
        '01.03.2020', '10.01.2020', '29.03.2020', '29.02.2020',
        '13.01.2020', '03.01.2020', '04.03.2020', '03.03.2020',
        '19.01.2020', '21.01.2020', '05.03.2020', '02.03.2020',
        '03.04.2020', '06.03.2020', '31.01.2020', '08.03.2020',
        '09.03.2020', '10.03.2020', '07.03.2020', '01.02.2020',
        '02.02.2020', '14.01.2020', '13.03.2020', '11.01.2020',
        '14.03.2020', '15.03.2020', '12.01.2020', '09.01.2020',
        '16.01.2020', '04.01.2020', '05.01.2020', '01.01.2020',
        '27.12.2019', '31.12.2019', '10.12.2019', '06.01.2020',
        '11.03.2020', '17.03.2020', '22.03.2020', '12.03.2020',
        '23.03.2020', '26.03.2020', '16.03.2020', '18.03.2020',
        '27.03.2020', '20.03.2020', '19.03.2020', '21.03.2020',
        '24.03.2020', '25.03.2020', '28.03.2020', '30.03.2020',
        '01.04.2020', '31.03.2020', '31.04.2020', '29.04.2020',
        '02.04.2020', '05.04.2020', '06.04.2020', '04.04.2020',
        '07.04.2020', '08.04.2020', '10.04.2020', '11.04.2020',
        '13.04.2020', '15.04.2020', '17.04.2020', '19.04.2020',
        '21.04.2020', '22.04.2020', '26.04.2020', '02.05.2020',
        '16.04.2020', '12.04.2020', '18.04.2020', '14.04.2020',
        '09.05.2020', '09.04.2020', '24.04.2020', '25.04.2020',
        '28.04.2020', '30.04.2020', '08.05.2020', '06.05.2020',
        '23.04.2020', '11.05.2020', '01.05.2020', '05.05.2020',
        '20.04.2020', '27.04.2020', '03.05.2020', '04.05.2020',
        '10.05.2020', '07.05.2020', '27.05.2020', '28.05.2020',
        '29.05.2020', '22.05.2020', '31.05.2020', '02.06.2020',
        '23.05.2020', '24.05.2020', '25.05.2020', '26.05.2020',
        '30.05.2020', '03.06.2020', '01.06.2020', '12.05.2020',
        '13.05.2020', '14.05.2020', '15.05.2020', '16.05.2020',
        '17.05.2020', '18.05.2020', '19.05.2020', '20.05.2020',
        '21.05.2020'], dtype=object),
 array(['nan', '08.02.2020', '01.02.2020', '30.01.2020', '14.02.2020',
        '11.02.2020', '03.02.2020', '10.02.2020', '07.02.2020',
        '02.02.2020', '09.02.2020', '05.02.2020', '04.04.2020',
        '04.02.2020', '28.01.2020', '21.01.2020', '12.02.2020',
        '25.01.2020', '24.01.2020', '27.01.2020', '06.02.2020',
        '31.01.2020', '29.01.2020', '16.02.2020', '22.01.2020',
        '19.01.2020', '18.01.2020', '18.02.2020', '19.02.2020',
        '20.02.2020', '15.02.2020', '17.02.2020', '13.02.2020',
        '16.01.2020', '22.02.2020', '23.01.2020', '17.01.2020',
        '23.02.2020', '21.02.2020', '24.02.2020', '25.02.2020',
        '26.02.2020', '27.02.2020', '08.01.2020', '15.01.2020',
        '04.01.2020', '26.01.2020', '14.01.2020', '29.02.2020',
        '03.01.2020', '09.01.2020', '20.01.2020', '03.03.2020',
        '28.02.2020', '02.03.2020', '04.03.2020', '31.12.2019',
        '05.03.2020', '06.03.2020', '01.03.2020', '07.03.2020',
        '08.03.2020', '08.03.20202', '09.03.2020', '11.03.2020',
        '13.01.2020', '10.01.2020', '01.01.2020', '02.01.2020',
        '10.03.2020', '12.03.2020', '13.03.2020', '29.12.2019',
        '11.01.2020', '12.01.2020', '01.31.2020', '05.01.2020',
        '22.12.2019', '26.11.2020', '06.01.2020', '23.12.2019',
        '10.12.2019', '20.12.2019', '30.12.2019', '19.03.2020',
        '16.03.2020', '14.03.2020', '15.03.2020', '25.03.2020',
        '27.03.2020', '21.03.2020', '17.03.2020', '18.03.2020',
        '24.03.2020', '23.03.2020', '26.03.2020', '20.03.2020',
        '22.03.2020', '28.03.2020', '29.03.2020', '30.03.2020',
        '31.03.2020', '01.04.2020', '02.04.2020', '03.04.2020',
        '05.04.2020', '06.04.2020', '07.04.2020', '08.04.2020',
        '09.04.2020', '10.04.2020', '11.04.2020', '31.04.2020',
        '14.04.2020', '16.04.2020', '15.04.2020', '23.04.2020',
        '24.04.2020', '27.04.2020', '28.04.2020', '30.04.2020',
        '12.04.2020', '17.04.2020', '18.04.2020', '19.04.2020',
        '20.04.2020', '21.04.2020', '22.04.2020', '13.04.2020',
        '02.05.2020', '25.04.2020', '26.04.2020', '29.04.2020',
        '04.05.2020', '01.05.2020', '03.05.2020', '21.05.2020',
        '05.05.2020', '13.05.2020', '06.05.2020', '08.05.2020',
        '22.05.2020', '09.05.2020', '10.05.2020', '20.05.2020',
        '07.05.2020', '15.05.2020', '19.05.2020', '14.05.2020',
        '23.05.2020', '12.05.2020', '16.05.2020', '18.05.2020',
        '17.05.2020', '11.05.2020', '24.05.2020', '26.05.2020',
        '25.05.2020', '29.05.2020', '31.05.2020', '01.06.2020',
        '30.05.2020', '27.05.2020', '28.05.2020', '02.06.2020'],
       dtype=object),
 array(['14.02.2020', '21.02.2020', '26.01.2020', '15.02.2020',
        '16.02.2020', '07.02.2020', '08.02.2020', '03.02.2020',
        '13.02.2020', '12.02.2020', '10.02.2020', '11.02.2020',
        '09.02.2020', '17.02.2020', '18.02.2020', '04.02.2020',
        '06.02.2020', '25.02.2020', '05.03.2020', '22.02.2020',
        '19.02.2020', '20.02.2020', '25.01.2020', '24.01.2020',
        '01.02.2020', '28.01.2020', '29.01.2020', '23.01.2020',
        '23.02.2020', 'nan', '31.01.2020', '30.01.2020', '26.02.2020',
        '24.02.2020', '07.03.2020', '27.02.2020', '01.03.2020',
        '28.02.2020', '21.01.2020', '04.03.2020', '29.02.2020',
        '02.03.2020', '27.01.2020', '02.02.2020', '15.01.2020',
        '03.03.2020', '06.03.2020', '19.03.2020', '05.02.2020',
        '13.03.2020', '09.03.2020', '11.03.2020', '08.03.2020',
        '06.01.2020', '17.03.2020', '10.03.2020', '12.03.2020',
        '14.03.2020', '15.03.2020', '18.03.2020', '16.03.2020',
        '22.01.2020', '16.01.2020', '19.01.2020', '20.01.2020',
        '20.03.2020', '12.01.2020', '17.01.2020', '18.01.2020',
        '26.03.2020', '23.04.2020', '27.03.2020', '24.04.2020',
        '22.04.2020', '28.03.2020', '29.03.2020', '25.04.2020',
        '21.03.2020', '23.03.2020', '24.03.2020', '30.03.2020',
        '26.04.2020', '27.04.2020', '31.03.2020', '19.04.2020',
        '20.04.2020', '21.04.2020', '22.03.2020', '25.03.2020',
        '28.04.2020', '29.04.2020', '30.04.2020', '01.05.2020',
        '02.05.2020', '03.05.2020', '04.05.2020', '05.05.2020',
        '06.05.2020', '07.05.2020', '08.05.2020', '09.05.2020',
        '10.05.2020', '11.05.2020', '12.05.2020', '01.04.2020',
        '13.05.2020', '14.05.2020', '15.05.2020', '16.05.2020',
        '17.05.2020', '18.05.2020', '19.05.2020', '20.05.2020',
        '21.05.2020', '22.05.2020', '23.05.2020', '24.05.2020',
        '02.04.2020', '25.05.2020', '03.04.2020', '26.05.2020',
        '27.05.2020', '28.05.2020', '29.05.2020', '04.04.2020',
        '30.05.2020', '31.05.2020', '05.04.2020', '01.06.2020',
        '06.04.2020', '07.04.2020', '08.04.2020', '09.04.2020',
        '10.04.2020', '11.04.2020', '12.04.2020', '13.04.2020',
        '14.04.2020', '15.04.2020', '16.04.2020', '17.04.2020',
        '18.04.2020', '02.06.2020', '03.06.2020'], dtype=object))

In [39]:
c_data.head()

,ID,age,sex,city,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,...,location,admin3,admin2,admin1,country_new,admin_id,data_moderator_initials,travel_history_binary,hospitalized,deceased
0,000-1-1,NaN,male,Shek Lei,Hong Kong,China,22.365019,114.133808,point,nan,...,Shek Lei,NaN,NaN,Hong Kong,China,8051.0,NaN,NaN,1,0
1,000-1-10,78,male,Vo Euganeo,Veneto,Italy,45.297748,11.658382,point,nan,...,Vo' Euganeo,NaN,NaN,Veneto,Italy,8978.0,NaN,NaN,0,1
2,000-1-100,61,female,NaN,NaN,Singapore,1.353460,103.815100,admin0,nan,...,NaN,NaN,NaN,NaN,Singapore,201.0,NaN,NaN,0,0
3,000-1-1000,NaN,NaN,Zhengzhou City,Henan,China,34.629310,113.468000,admin2,nan,...,NaN,NaN,Zhengzhou City,Henan,China,10115.0,NaN,NaN,0,0
4,000-1-10000,NaN,NaN,Pingxiang City,Jiangxi,China,27.513560,113.902900,admin2,nan,...,NaN,NaN,Pingxiang City,Jiangxi,China,7079.0,NaN,NaN,0,0

In [41]:
c_data.to_csv("covid19_cleaned.csv")